{{!< default}}

<div class="container">
    <div class="edit-checkboxes">
        Plocklista
        <div class="articles">
            <div class="item">
                <span class="glyphicon glyphicon-remove-circle remove" aria-hidden="true"></span>
                <span class="item-text">Abs Cilikonförband 5X12,5Cm Självhäftande</span>
            </div>
        </div>
        <div class="item">
            <input type="text" class="form-control" id="article" placeholder="Sök...">
        </div>
    </div>
</div>

<script src="/js/create.js"></script>
