{{!< default}}

<div class="container">
  <div class="edit-checkboxes">
    Plocklista
      <div class="articles">
      </div>
      <div class="item">
        <input type="text" class="form-control" id="article" placeholder="Sök...">
      </div>
  </div>
</div>

<script src="/js/create.js"></script>
