{{!< default}}
<div class="container">
  <div style="max-height: 300px;overflow: auto;">
    <ul class="list-group checked-list-box">
      {{# each checks }}
        <li class="list-group-item checkbox">
          <label><input type="checkbox">{{ articleName }}, hylla = {{ hylla }}</label>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
