{{!< default}}

<div class="container">
    <h2></h2>
    <div class="row">
{{#each operations }}
        <div class="col-md-4 operation">
            <div class="operation-card">
                <div class="title">{{ title }}</div>
                <div class="specialty">{{ specialty.abbrevation }}</div>
            </div>
        </div>
{{/each}}
    </div>
</div>
