@import "info.less";

.operationForm textarea {
  width: 100%;
  min-height: 100px;
  height: 100%;
}

.jqte {
  margin: 0;
}

.jqte_tool.jqte_tool_1 .jqte_tool_label {
  height: 100%;
}

.edit-mall {
  display: none;
}

.newProcess {
  margin-right: 10px;
  margin-top: 4px;
  margin-bottom: 0;
}

.form-control-feedback {
  top: 0 !important;
}

.form-control-feedback:hover {
  color: @lightblue;
  cursor: pointer;
}

.process.btn, .btn-checklist {
  width: 100px;
  cursor: text;
}

.process.btn {
  padding-right: 25px;
}

.btn-checklist {
  margin-top: 4px;
}

.process-content-item {
  position: relative;
}

.process-content-item .glyphicon-remove {
  font-size: 25px;
  color: red;
  position: absolute;
  right: 10px;
  height: 100%;
  top: 44%;
}

.process-content-item .glyphicon-remove:hover {
  opacity: 0.7;
  cursor: pointer;
}

.contentText {
  width: 70%;
}

.nav .glyphicon-remove {
  font-size: 16px;
  line-height: 34px;
  position: relative;
  margin-left: -32px;
  margin-right: 10px;
  top: 4px;
  font-weight: 100;
  color: rgb(244, 74, 0);
}

ul.nav li {
  box-sizing: content-box;
}
