@import "info.less";

.operationForm textarea {
  width: 100%;
  min-height: 100px;
  height: 100%;
}

.jqte {
  margin: 0;
}

.jqte_tool.jqte_tool_1 .jqte_tool_label {
  height: 100%;
}

.edit-mall {
  display: none;
}

.newProcess {
  display: inline-block;
  margin-right: 10px;
  margin-top: 8px;
}

.form-control-feedback {
  top: 0 !important;
}

.form-control-feedback:hover {
  color: @lightblue;
  cursor: pointer;
}

.process.btn {
  width: 100px;
  cursor: text;
}

.process-content-item {
  position: relative;
}

.process-content-item .glyphicon-remove {
  font-size: 25px;
  color: red;
  position: absolute;
  right: 10px;
  height: 100%;
  top: 44%;
}

.process-content-item .glyphicon-remove:hover {
  opacity: 0.7;
  cursor: pointer;
}

.dropzone {
  display: inline-block;
  width: 13%;
  height: 100%;
  min-height: 139px;
  vertical-align: top;
  border: 1px dashed black;
}
