@import "variables.less";
@import "functions.less";
@import "../bootstrap/mixins/buttons.less";

@media print {
  
  .articleSearch {
    display: none;
  }
  
  .btn {
    display: none;
  }

  .process-content-item {
    border: solid;
    border-width: 1px;
    margin-bottom: 5px;
    padding: 5px;
  }
  
  #contentchecklist {
    display: block;
  }  
  
  .comment-header {
    display: none;
  }
  
  .comment-button {
    display: none;
  }
}

@media screen {
  
  #contentchecklist {
    display: none;
  }
  
  .process-content-item {
    background-color: #E5F3FF;
    padding: 10px;
    margin-bottom: 5px;
  };
}

#btn-done {
  background-color: @lightblue;
  border-color: @lightblue;
  cursor: default;
  box-shadow: none;
}

.btn-done {
  background-color: @lightgreen !important;
  border-color: @lightgreen !important;
}

.contentTitle {
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  width: 20%;
};
.contentText {
  display: inline-block;
  margin-left: 40px;
  width: 70%;
};

.contentText img {
  max-width: 100%;
  height: auto;
}

.navbar-btn {
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
};

.navbar-btn:focus,
.navbar-btn:hover {
  background-color:#428bca;
  color:white;
  border-color: #357ebd;
};
.navbar-btn.active {
  background-color:@lightblue;
  color:white;
};

#createOperationInstanceButton {
  display: inline-block;
};

.label-arrow {
  position: relative;
}
.label-arrow-right {
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  margin-right:10px;
}
.label-arrow-right:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-left-color:#999;
  border-width: 10px;
  border-bottom-width: 9px;
  margin-top: -10px;
}
.label-arrow-left {
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  margin-left:10px;
}
.label-arrow-left:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-right-color:#999;
  border-width: 10px;
  border-bottom-width: 9px;
  margin-top: -10px;
}
.label-primary.label-arrow:after {
  border-left-color:#428bca;
}
.label-primary.label-arrow:before {
  border-right-color:#428bca;
}
.label-primary.banner-left:before,
.label-primary.banner-right:after {
  border-color:#428bca;
}
.label-success.label-arrow:after {
  border-left-color:#5cb85c;
}
.label-success.label-arrow:before {
  border-right-color:#5cb85c;
}
.label-warning.label-arrow:after {
  border-left-color:#f0ad4e;
}
.label-warning.label-arrow:before {
  border-right-color:#f0ad4e;
}
.label-danger.label-arrow:after {
  border-left-color:#d9534f;
}
.label-danger.label-arrow:before {
  border-right-color:#d9534f;
}
.label-info.label-arrow:after {
  border-left-color:#5bc0de;
}
.label-info.label-arrow:before {
  border-right-color:#5bc0de;
}
.banner-left:before {
  border: 10px solid #999;
  border-left: 10px solid transparent !important;
  border-bottom-width: 9px;
  left:-18px;
  position: absolute;
  top: 0;
  height:0;
  content: " ";
}
.banner-right:after {
  border: 10px solid #999;
  border-right: 10px solid transparent !important;
  border-bottom-width: 9px;
  right:-18px;
  position: absolute;
  top: 0;
  height:0;
  content: " ";
}
h1 .label-arrow-right {
  margin-right:22px;
}
h1 .label-arrow-left {
  margin-left:22px;
}
h1 .label-arrow-right:after, h1 .label-arrow-left:before {
  border-width: 22px;
  margin-top: -22px;
}
h1 .banner-left:before {
  border-width: 24px;
  border-left-width:24px;
  right:-10px;
  border-bottom-width:21px;
}

.editInfoAmount {
  text-align:center;
  width: 50px !important;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;  
}

.glyphicon-comment {
  padding: 0 0 0 0;
  margin-bottom: 0;
}

.nav .glyphicon-remove:hover{
  opacity: 0.7;
  cursor: pointer;
}

.centered-remove,
.centered-comment {
  width: 1px;
};

.featherlight-content {
  overflow: hidden !important;
}

.table>tbody>tr>td {
  padding: 8px;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}

.confirmRemovePreparation,
.cancelComment,
#btn-done,
.btn-danger,
.btn-primary {
  margin-top: 5px !important;
  margin-bottom: 10px !important;
  margin-right: 5px !important;
  margin-left: 0px !important;
}

.article-remove {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.pop-up-window {
  margin-right: 5px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.showComment {
  height: 34px;
  width: 40px;
  font-size: 95%;
  border-radius: 4px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.amountColumn {
  max-width:110px; 
  min-width:110px!important;
  padding: 4px !important;
  padding-top: 5px !important;
}


.plus-icon,
.minus-icon {
  color: rgba(0, 0, 0, 0.5);
};

.minus-field:hover,
.plus-field:hover {
  cursor: pointer;
  background-image: linear-gradient(rgba(0,0,0,0.08), rgba(0,0,0,0.12));
};

.plus-field {
  background-color: #ffffff;
  background-image: linear-gradient(#fcfcfc, #eee);
  border-right: 1px solid rgb(204, 204, 204);
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  height: 30px;
  width: 31px;
  padding-top: 4%;
  display: inline-block;
  float: left;
};

.amount-field {
  background-color: #ffffff;
  border: 1px solid rgb(204, 204, 204);
  height: 30px;
  width: 40px;
  padding-top: 3%;
  display: inline-block;
  float: left;
  font-weight: bold;
};

.minus-field {
  background-color: #ffffff;
  background-image: linear-gradient(#fcfcfc, #eee);
  border-left: 1px solid rgb(204, 204, 204);
  border-right: none;
  border-bottom: 1px solid rgb(204, 204, 204);
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  height: 30px;
  width: 30px;
  padding-left: 0.5%;
  padding-top: 4%;
  display: inline-block;
  float: left;
};

.errorText{
  color: red;
}

//Denna används också av edit. Borde strukturera om.
input[type=checkbox] {
font-size: 200%!important;
}

#result-table tbody{
  cursor: pointer;
}

#result-table tbody tr:active td:not(:last-child) {
  background: linear-gradient(#d7d7d7, #e1e1e1);
}

.has-feedback .form-control-feedback {
  position: absolute;
  top: 0px;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
