.navbar-btn {
  border-radius: 5px;
  margin-right: 10px;
};

.navbar-btn.active,
.navbar-btn:focus {
  background-color:@lightblue;
  color:white;
};

#createOperationInstanceButton {
  display: inline-block;
}

.contentTitle {
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  width: 20%;
};

.contentText {
  display: inline-block;
  margin-left: 40px;
  width: 60%;
};
  
.process-content-item {
  background-color: #E5F3FF;
  padding: 10px;
  margin-bottom: 10px;
};
