#currently-modifying {
  border-radius: 3px;
  transition: none;
}

#currently-modifying:focus {
  box-shadow: none;
}

.modify-input {
  border-radius: 3px;
  transition: none;
}

.modify-input:focus {
  box-shadow: none;
}
