#currently-modifying {
  border-radius: 3px;
  transition: none;
}

#currently-modifying:focus {
  box-shadow: none;
}

.modify-input {
  border-radius: 3px;
  transition: none;
}

.modify-input:focus {
  box-shadow: none;
}

span.glyphicon-remove {
  font-size: 14px;
}

#search-article {
  
}

.search-article {
  position: relative;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}


.has-feedback .form-control-feedback {
  position: absolute;
  top: 0px;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

.modifyable-article-column {
  vertical-align: middle !important;
  padding-left: 5px !important;
}

.column-kartotek span {
  padding-left: 13px !important;
  display: inline-block !important;
}

.amount {
  width: 70px;
}
