.container {
  margin-top: 30px;
  width: 960px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

#footer {
  margin-top: 30px;
  border-top: 1px solid @gray-lighter;
  padding-top: 30px;
  color: @gray-light;
}

.list-group-item {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.table-header {
  font-weight: bold;
}

.item {
  border-radius: 4px;
  border: solid 1px #C0C0c0;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;	
  margin-bottom: 10px;
}

.edit-checkboxes {
  padding-left: 100px;
  padding-right: 100px;
}

.remove {
  font-size: 28px;
}

.item-text {
  
}
