@import "variables.less";
@import "functions.less";

html {
  overflow-y: scroll;
}

.row-article {
  height: 34px;
  width: 100%;
  margin: 0px;
  margin-top: 3px;
};

.col-left {
  border: none;
  height: 100%;
  width: 20%;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  float: left;
};

.col1-minus {
  background-image: linear-gradient(#fcfcfc, #eee);
  border-left: 1px solid rgb(204, 204, 204);
  border-right: none;
  border-bottom: 1px solid rgb(204, 204, 204);
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  height: 100%;
  width: 30%;
  margin: 0px;
  padding: 0px;
  padding-left: 8%;
  padding-top:5%;
  display: inline-block;
  float: left;
};

.col1-amount {
  border: 1px solid rgb(204, 204, 204);
  border-right: none;
  height: 100%;
  width: 40%;
  margin: 0px;
  padding-left: 15%;
  padding-top: 5%;
  display: inline-block;
  float: left;
  font-weight: bold;
};

.col1-plus {
  background-image: linear-gradient(#fcfcfc, #eee);
  border-left: 1px solid rgb(204, 204, 204);
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  height: 100%;
  width: 30%;
  margin: 0px;
  padding: 0px;
  padding-left: 10%;
  padding-top: 5%;
  display: inline-block;
  float: right;
};

.col1-minus:hover,
.col1-plus:hover {
  cursor: pointer;
  background-image: linear-gradient(rgba(0,0,0,0.08), rgba(0,0,0,0.12));
};

.col-middle {
  border: 1px solid rgb(204, 204, 204);
  border-right: none;
  height: 100%;
  width: 71%;
  margin: 0px;
  padding: 0px;
  padding-left: 1%;
  padding-top: 1%;
  display: inline-block;
};

.col-right {
  background-image: linear-gradient(rgba(255,0,0,0.1), rgba(255,0,0,0.12));
  border: 1px solid rgb(204, 204, 204);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%;
  width: 9%;
  margin: 0px;
  padding: 0px;
  padding-left: 3.3%;
  padding-top: 0.1%;
  display: inline-block;
  float: right;
};

.col-right:hover {
  cursor: pointer;
  background-image: linear-gradient(rgba(255,0,0,0.14), rgba(255,0,0,0.16));
};

.plus,
.minus {
  color: rgba(0, 0, 0, 0.5);
};


.glyphicon-remove {
  font-size: 60%;
};

.container {
  margin-top: 30px;
  max-width: @container-width;
  //border-left: 1px solid #000;
  //border-right: 1px solid #000;
}


.list-group-item {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.table-header {
  font-weight: bold;
}

.item {
  border-radius: 4px;
  border: solid 1px #C0C0c0;
  //padding: 5px;
  //padding-left: 10px;
  //padding-right: 10px;	
  margin-bottom: 10px;
  padding: 25px 25px 25px 25px;
}

.edit-checkboxes {
  padding-left: 100px;
  padding-right: 100px;
}

.remove {
  font-size: 28px;
  float: right;
}


// All of the below should really be moved to create.css
@article-height: 50px;
@counter-width: 50px;
@remover-width: 50px;
//@article-width: @container-width - @counter-width - @remover-width px;
@article-width: 350px;

.remove-article {
  float: left;
  width: @remover-width;

  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 3px;

  border: 1px solid rgb(204, 204, 204);
  border-left: 0px none;
  display: block;
  height: @article-height;

  //box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 1px 0px;
  box-sizing: border-box;

  text-align: center;
  padding-top: 5px;
  margin-bottom: 6px;

  background-color: rgba(255, 0, 0, 0.3);
}



.remove-article:hover {
  background-color: rgba(255, 0, 0, 0.35);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px inset;
  cursor: pointer;
}



.remove-article:active {
  background-color: rgba(255, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px 0px inset;
  cursor: pointer;
}


@remove-icon-scale: 2;
.remove-icon {
  padding-top: 7px;

  transform: scale(@remove-icon-scale, @remove-icon-scale);
  -ms-transform: scale(@remove-icon-scale, @remove-icon-scale); //IE 9
  -moz-transform:scale(@remove-icon-scale, @remove-icon-scale); //Firefox
  -webkit-transform:scale(@remove-icon-scale, @remove-icon-scale); //Safari and Chrome
  -o-transform:scale(@remove-icon-scale, @remove-icon-scale); //Opera
}

.add-column {
  width: 50px;
  text-align: center;

  background-color: rgba(0, 255, 0, 0.2) !important;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 1px 0px inset;
}

.add-column:hover {
  background-color: rgba(0, 255, 0, 0.3) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px inset;
  cursor: pointer;
}

.add-column:active {
  background-color: rgba(20, 255, 20, 0.4) !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px 0px inset;
  cursor: pointer;
}

@add-icon-scale: 1.5;
.add-icon {
  padding-top: 5px;
  margin-left: 0px;

  transform: scale(@add-icon-scale, @add-icon-scale);
  -ms-transform: scale(@add-icon-scale, @add-icon-scale); //IE 9
  -moz-transform:scale(@add-icon-scale, @add-icon-scale); //Firefox
  -webkit-transform:scale(@add-icon-scale, @add-icon-scale); //Safari and Chrome
  -o-transform:scale(@add-icon-scale, @add-icon-scale); //Opera
}

.input-box {
  padding-bottom: 15px;
  //.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
}

.select2-container--default {
  //.box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
};

.synonym-input {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 3px;
  border-top-right-radius: 0px !important;

  float: left;
  width: 90%;
}

.add-synonym {
  float: left;
  width: 10%;
}

#add-synonym-btn {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 3px;
  padding-top: 10px;
}

.tagsinput {
  border-radius: 4px;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
  min-height: 20px !important;
  padding: 0 !important;
  margin: 0;
  height: auto;
};

//works but needs to something else than active (different blue color though)
.tagsinput:active {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
};


#tags_1_tag {
  padding-top: 5px !important;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 24px;
  width: auto !important;
  color: #555;
  font-size: 14px !important;
};

.select2-selection--single {
  height: 34px !important;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  border: 1px solid #ccc !important;
};

//those ones should be placed somewhere else
.select2-selection__rendered {
  color: #555 !important;
  font-size: 14px !important;
};

.select2-selection__arrow {
  margin-top: 5px;
};

/*
.select2-selection__rendered {
  //padding: 10px !important;
  height: 34px !important;
  border: 1px solid black !important;
};
*/

.tag {
  padding: 0px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 3px !important;
  height: 24px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 0px !important;
};

.synonym {
  width: 90%;
}

.synonym-container {
  float: left;
  margin-top: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  border: 1px solid #ccc;
  padding-top: 13px;
  padding-left: 10px;
}

.remove-synonym {
  float: left;
  width: 10%;

  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0px;
  border-top-right-radius: 3px;

  border: 1px solid rgb(204, 204, 204);
  border-left: 0px none;
  display: block;
  height: @article-height;

  //box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 1px 0px;
  box-sizing: border-box;

  text-align: center;
  padding-top: 5px;
  margin-bottom: 6px;

  background-color: rgba(255, 0, 0, 0.3);
}

.remove-synonym:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px inset;
  cursor: pointer;
}

.remove-synonym:active {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px 0px inset;
  cursor: pointer;
}


.articleSearch .has-results {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}



//Specialitet Search/Select2 here

.specialitet-select{
  width: 100%;
}

//This should be in a separate file. But where?
#opName {
  font-size: 30px;
};

.processes {
  font-size: 18px;
  display: inline;
};

#newUnderrubrikButton {
  margin-bottom: 10px;
}

#underrubrik-name {
  margin-bottom: 10px;
}

#underrubrik-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.centered{
  text-align: center;
}

.nav .glyphicon-remove:hover{
  opacity: 0.7;
  cursor: pointer;
}


.btn-primary {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.article-remove {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.pop-up-window {
  margin-right: 5px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.showComment {
  height: 34px;
  width: 40px;
  font-size: 95%;
  border-radius: 4px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
