.speciality {
  font-size: 20pt;
  color: @blue;
  cursor: pointer;
  
}

.operations {
  color: @blue;
  font-size: 15pt;
}

.operation {
  padding-left: 5pt;
  
}

.badge {
  vertical-align: middle;
}

.active {
  background-color: @blue;
  color: white;
}


.div-full {
  color: @blue;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
